# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Git
.git
.gitignore

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Build output
dist
build

# Misc
README.md
*.log
.DS_Store 